{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{book.img_url}}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="book-heading">
                        <h1>{{book.title}}</h1>
                        <h2 class="subheading">by {{book.author}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Book Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    <!-- Book Display Area -->

                    {{ book.body|safe }}
                    <hr>
                    <div class="clearfix">
                        <a class="btn btn-primary float-right" href="{{url_for('edit_book', book_id=book.id)}}">Edit Book Entry</a>
                    </div>

                    <!-- Input Comment Area -->

                    <!-- Load ckeditor -->
                    {{ ckeditor.load() }}
                    <!-- Configure the ckeditor to tell it which field
                     in WTForm will need to be a CKEditor. -->
                    {{ ckeditor.config(name='comment_text') }}
                    <!-- Create the wtf quickform from CommentForm -->
                    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

                    <!-- Comments List Area -->

                    <div class="col-lg-8 col-md-10 mx-auto comment">
                         <ul class="commentList">
                             {% for comment in comments %}
                             <li>
                                 <div class="commenterImage">
                                     <img src="{{ comment.comment_creator.email | gravatar }}"/>
                                 </div>
                                 <div class="commentText">
                                     {{ comment.text|safe }}
                                     <br>
                                     <span class="date sub-text">
                                     {{ comment.comment_creator.name }}
                                     </span>
                                 </div>
                             </li>
                             {% endfor %}
                         </ul>
                    </div>

                </div>
            </div>
        </div>
    </article>

    <hr>
{% include "footer.html" %}