{% include "header.html" %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/books.jpg')}}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <!-- Site Name -->
                    <div class="site-heading">
                        <h1>My Bookshop</h1>
                        <span class="subheading">A website for buying books.</span>
                        <br>
                        <a class="btn btn-primary " href="{{url_for('add_new_book')}}">Insert New Book</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="content">
        {% if books == []: %}
            <h1>No books available.</h1>
        {% else: %}
        <table>
            {% for book in books %}
                <tr>
                    <td>
                        <img class="book-img"
                             src={{book.img_url}}
                             alt="No Image Available"
                             width="200" height="250">
                    </td>
                    <td>
                        <h5>{{ book.author }}</h5>
                        <h2>{{ book.title }}</h2>
                    </td>
                    <td>
                        <p>{{ book.body|safe }}</p>
                    </td>
                    <td>
                        <p>Price: {{ book.price }} €</p>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('order_book', book_id=book.id) }}">
                            <b>Buy this book</b>
                        </a>
                    </td>

                    <td>
                        <a class="btn btn-primary" href="{{ url_for('delete_book', book_id=book.id) }}">
                            <b>Remove From List</b>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>t
        {% endif %}
    </div>

{% include "footer.html" %}